<div class="get-started-container">
  <div class="wrapper-center">
    <app-nav-menu></app-nav-menu>
    <section>
      <div class="section-one-div-left">
        <div class="section-one-div-left-content">
          <h1>Share your unfiltered thoughs. Get paid.</h1>
          <p>Spense is an open platform for individuals to share thier unfiltred thoughts. Discuss the topics you love, and get paid for doing just that</p>
          <div class="check-circle-div">
            <i class="fas fa-check-circle "></i>
            <p>Receive 99% of the earnings.</p>
          </div>
          <div class="check-circle-div">
            <i class="fas fa-check-circle"></i>
            <p>Get paid via Debit Card, ACH, or PayPal.</p>
          </div>
          <div class="check-circle-div">
            <i class="fas fa-check-circle"></i>
            <p>Withdraw your earnings anytime.</p>
          </div>
          <form class="form-one">
            <input type="text" placeholder="email@example.com">
            <input type="submit" value="Get Started">
          </form>
        </div>
      </div>
      <div class="section-one-div-right">
        <img src="assets/Hero Image (Mobile).png">
      </div>
    </section>

  </div>
</div>
