<div class="learn-more-container wrapper-center">
  <div>
    <div class="learn-more-container-media-top">
      <a href="#"><img src="assets/Facebook Logo.png" alt=""></a>
      <a href="#"><img src="assets/Dribbble Logo.png" alt=""></a>
      <a href="#"><img src="assets/Youtube Logo.png" alt=""></a>
      <a href="#"><img src="assets/Pinterest Logo.png" alt=""></a>
      <a href="#"><img src="assets/Twitter Logo.png" alt=""></a>
      <a href="#"><img src="assets/Reddit Logo.png" alt=""></a>
      <a href="#"><img src="assets/Google Logo.png" alt=""></a>
      <a href="#"><img src="assets/Slack Logo.png" alt=""></a>
    </div>
    <section class="learn-more-container">
      <div class="learn-more-container-top-bg">
        <div class="learn-more-container-section-top">
          <div class="learn-more-container-section-top-div learn-more-container-section-top-left-div">
            <div class="learn-more-container-wrapper">
              <h1>Secure your money with Escrow.</h1>
              <p>Spense uses Escrow to secure all payments. We belive Escrowoffers the highest level of security for your payments, so you never need to worry about scams</p>
              <p class="mid-span-a"><span><a href="#">Learn more about Escrow -></a></span></p>
            </div>
          </div>
          <div class="learn-more-container-section-top-div learn-more-container-section-top-right-div">
            <div class="learn-more-container-wrapper-img">
              <img src="assets/Phone Mockup (Mobile).png">
            </div>
          </div>
        </div>
      </div>
      <div class="learn-more-container-bottom-bg">
        <div class="learn-more-container-section-bottom">
          <div class="learn-more-container-section-bottom-left-div">
            <img src="assets/Text Editor.png">
          </div>
          <div class="learn-more-container-section-bottom-right-div">
            <h1>A text editor like no other.</h1>
            <p>Our text editor pulls you into focus mode with it's simplistic design and usability so you can put your best writings.</p>
            <p class="mid-span-a"><span><a href="#">Text Editor Live Demo -></a></span></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
