$gray: #f0eeeb;

$pGray: #5a5444;

.media {
  float: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  line-height: 1.5;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
  display: block;
}

h1{
  font-weight: bold;
}

//header
.bg-header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started-container {
  background-color: $gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.get-started-container * p:not(.nav-item-left > p,.nav-items-mid * p,.nav-items-right > p) {
  color: $pGray;
}

.learn-more-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.bg-bottom {
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
}

header {
  text-align: center;
  width: 93%;
  margin: 0 auto;
}

header > p {
  font-weight: 600;
}

header > p > span:nth-child(2) {
  text-decoration: 1px underline white;
}
//header
.wrapper-center {
  width: 93%;
}

//nav
nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

nav * a {
  color: black;
}

nav * a:hover {
  color: $pGray;
}
//Hamburger

.hamburger {
  position: absolute;
  right: 0;
  top: 1.95em;
}

//Hamburger


ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.nav-item-left {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  height: 76px;
}

.nav-item-left > p {
  margin: auto 0;
}

.nav-items-right {
  justify-content: center;
}

.nav-items-mid, .nav-items-right {
  flex: 1;
  display: none;
}



.btn-nav-black {
  background-color: black;
  color: white;
  border: 0px;
  padding: 1.2em 1.8em 1.2em 1.8em;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 2em;
}

.nav-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: addopacity;
  animation-duration: 2s;
}

.spense-margin {
  margin: 0 auto;
}

.nav-small-screan {
  // height: 350px;
  flex-direction: column;
  animation-name: opennavbar;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes opennavbar {
  from {
    height: 76px;
  }

  to {
    height: 350px;
  }
}

//nav

//section-1-top

section {
  display: flex;
  flex-direction: column;
}

.section-one-div-left {
  order: 1;
}

.section-one-div-left-content > h1 {
  font-size: 32px;
  color: #292929;
}

.section-one-div-left-content > p {
  padding-top: 0.5em;
}

.section-one-div-left-content {
  margin-top: 2em;
}


.section-one-div-right {
  order: 0;
}

.check-circle-div {
  margin: 1em 0 1em 0;
  display: flex;
  flex-direction: row;
}

.check-circle-div > p {
  margin-left: 1em;
  margin-top: auto;
  font-weight: 600;
}

.check-circle-div > i {
  align-self: center;
}


.form-one {
  display: flex;
  padding: 0 0 2.5em 0;
}

.form-one > input[type="text"] {
  color: $pGray;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form-one > input[type="submit"] {
  margin-left: 1em;
  background-color: black;
  color: white;
  border: 0px;
  padding: 1.2em 1.8em 1.2em 1.8em;
  border-radius: 5px;
  font-weight: 700;
}

//section-1-top


//mid-mobile
.learn-more-container-media-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;
  place-items: end;
  padding: 2em 0 2em 0;
  margin: 0 auto;
}

.learn-more-container-media-top > a {
  display: none;
}


.learn-more-container-media-top > a:first-child, .learn-more-container-media-top > a:nth-child(2), .learn-more-container-media-top > a:nth-child(3) {
  display: block;
}

.learn-more-container-top-bg {
  background-color: $gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.learn-more-container-wrapper > h1 {
  padding-top: 1.2em;
  font-size: 26px;
  padding-bottom: 0.3em;
  margin: auto 0;
  width: 60%;
}

.learn-more-container-wrapper > p {
  color: $pGray;
}

.learn-more-container-wrapper > p > span {
  font-weight: 700;
  text-decoration: 1px underline $pGray;
}

.mid-span-a {
  margin-top: 1.3em;
}

.learn-more-container * a {
  color: $pGray;
}

.learn-more-container * a:hover {
  color: black;
}

.learn-more-container-section-top-div, .learn-more-container-section-bottom {
  display: flex;
  justify-content: center;
}

.learn-more-container-wrapper {
  width: 80%;
}

.learn-more-container-wrapper-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.learn-more-container-section-bottom {
  flex-direction: column;
}

.learn-more-container-section-bottom-right-div {
  order: 0;
}

.learn-more-container-section-bottom-right-div > p {
  padding-top: 1em;
  color: $pGray;
}

.learn-more-container-section-bottom-right-div > p > span {
  text-decoration: underline;
  font-weight: 700;
}

.learn-more-container-section-bottom-left-div {
  order: 1;
}

.learn-more-container-section-bottom-left-div > img {
  margin-top: 2em;
}

.learn-more-container-section-bottom-right-div > h1 {
  font-size: 26px;
  padding: 2em 0 0em 0;
  width: 85%;
}

//mid-mobile


//footer-mobile
.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-flex > div {
  flex: 1;
}


.footer-container > p:first-child {
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-container > p {
  padding: 0.3em 0 0.3em 0;
}

.footer-container > a:not(.footer-container > p:first-child) {
  color: #9e9e9e;
}

.footer-container > a:not(.footer-container > p:first-child):hover {
  color: white;
}

.footer-container-1 > a > p {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

//footer-mobile


//fix phone img on desktop

//footer
@media(min-width: 600px) {
  .media {
    float: left;
  }

  p {
    line-height: 1.6;
  }

  //nav-tablet
  nav {
    padding: 1em 0 1em 0;
  }

  .hamburger {
    display: none;
  }

  .nav-items-mid {
    display: flex;
    justify-content: center;
  }

  nav > div {
    flex: 1;
    animation-duration: 2s;
  }

  @keyframes hidenavitems {
    from {
      opacity: 0;
    }

    to {
      opacity: 1
    }
  }

  .nav-items-right, .nav-items-mid > ul {
    flex-direction: row;
    align-items: center;
  }

  li {
    margin: 0 1em 0 1em;
  }

  .nav-items-right {
    display: flex;
    justify-content: flex-end;
    min-width: 170px;
  }

  .nav-items-right > p {
    margin-right: 1em;
  }

  .btn-nav-black {
    margin-top: 0;
    padding: 1.2em 1.5em 1.2em 1.5em;
  }
  //nav-tablet
  //mid-media-grid
  .learn-more-container-media-top {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .learn-more-container-media-top > a:nth-child(4), .learn-more-container-media-top > a:nth-child(5) {
    display: block;
  }
  //mid-media-grid
  //section-1-tablet
  .section-one-div-left-content > h1 {
    font-size: 48px;
    width: 80%;
  }

  .section-one-div-left-content > p {
    font-size: 17px;
  }

  .check-circle-div {
    margin: 0.5em 0 0.5em 0;
  }

  .form-one {
    padding: 1em 0 2.5em 0;
  }

  .form-one > input[type="text"] {
    min-width: 173px;
  }
  //section-1-tablet

  //mid-tablet
  .learn-more-container-wrapper > h1 {
    font-size: 32px;
    width: 55%;
  }

  .learn-more-container-wrapper > p {
    width: 80%;
  }
  //mid-tablet

  //footer-tablet
  footer {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
  }

  footer > div:nth-child(2) {
    order: 1;
  }

  footer > div:last-child {
    margin-left: 3em;
  }

  footer > div {
    padding-top: 2em;
  }

  .footer-container-5 {
    margin-left: 2em;
  }
  //footer-tablet
}

@media (max-width:318px) {
  //fix input on smaller width
  .form-one > input[type="text"] {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .media {
    float: right;
  }
  //mid-desktop
  .learn-more-container-media-top {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .learn-more-container-media-top > a {
    display: block;
  }

  .learn-more-container {
    flex-direction: column;
  }

  .learn-more-container-section-top, .learn-more-container-section-bottom {
    display: flex;
    flex-direction: row;
    min-height: 400px;
    width: 90%;
  }

  .learn-more-container-section-top {
    position: relative;
  }

  .learn-more-container-section-top-right-div {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .learn-more-container-section-top-right-div {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .learn-more-container-section-top-right-div > img {
    width: none;
  }

  .learn-more-container-section-bottom > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
  }

  .learn-more-container-section-bottom-right-div > h1 {
    font-size: 32px;
    padding: 0;
  }

  .learn-more-container-section-top-left-div {
    width: 50%;
  }

  .learn-more-container-section-top-left-div > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  section > .section-one-div-right {
    order: 2;
    max-width: 600px;
  }

  .section-one-div-right > img {
    padding-bottom: 3em;
  }

  .section-one-div-left-content {
    margin-top: 12%;
  }

  .section-one-div-left-content > p {
    width: 80%
  }

  .wrapper-center {
    width: 80%;
  }

  .learn-more-container-section-bottom {
    flex-direction: row;
  }

  .learn-more-container-section-bottom-left-div {
    order: -1;
  }

  .learn-more-container-bottom-bg {
    display: flex;
    justify-content: center;
  }

  .learn-more-container-section-bottom > div {
    flex: 1;
  }
  //mid-desktop

  //footer-desktop
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-flex {
    margin-left: 2em;
  }
  //foter-desktop
}

@media (min-width: 1400px) {
  .learn-more-container-section-top-left-div > div {
    margin-bottom: 2em;
  }
}

@media (min-width: 1600px) {
  .learn-more-container-section-top-left-div > div {
    margin-bottom: 15%;
  }
}
