<footer class="bg-bottom">
  <div class="wrapper-center">
    <footer>
      <div class="footer-container footer-container-1">
        <a href=#><p>spense.</p></a>
        <p>Spense is a open platform for individuals to share thier unfiltred thoughts. Discuss the topics you love, and get paid for doing just that.</p>
      </div>
      <div class="footer-flex">
        <div class="footer-container footer-container-2">
          <p>Company</p>
          <a href="#"><p>About</p></a>
          <a href="#"><p>Customers</p></a>
          <a href="#"><p>Blog</p></a>
        </div>
        <div class="footer-container footer-container-3">
          <p>Opportunities</p>
          <a href="#"><p>Jobs</p></a>
        </div>
      </div>
      <div class="footer-flex">
        <div class="footer-container footer-container-4">
          <p>Sitemap</p>
          <a href="#"><p>Homepage</p></a>
        </div>
        <div class="footer-container footer-container-5">
          <p>Resources</p>
          <a href="#"><p>Suport</p></a>
          <a href="#"><p>Contact</p></a>
          <a href="#"><p>FAQ</p></a>
        </div>
      </div>
    </footer>
  </div>
</footer>
